/* COMMON */

header {
    height:80px;
    background-color:#303D4E;
    line-height: 80px;
    color:white;
}

main {
    margin:0;
}

img {
    width:100%;
}

.ml-1 {
    margin-left: 10%;
}

h1, h2, p {
    color:white;
}



/* button */
.btn_download {
    background-color: #58B99D;
    border:1px solid white;
}

.btn_download:hover {
    background-color: white;
    color:black;
    border:1px solid white;
}

.btn_send {
    background-color: #58B99D;
    border:1px solid #58B99D;
}

.btn-footer_wrapper {
    line-height:1em;
    vertical-align:middle;
}



.btn_footer_wrapper i {
   color:white;
   text-decoration: none;
   text-align: center;
}

.btn_foot i {
    display: inline-block;
    border:1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

/* starbar */
.star-bar {
    text-align: center;
    padding-bottom:1em; 
    color:white;
}

.star-bar i {
    font-size:1.5em;
}

.star_border  {
    width:100%;
    border:2px solid black; 
}

.star_border_w{
    width:100%;
    border:2px solid white; 
}

.portfolio .star-bar i {
    color:black;
}

.contact-me .star-bar i {
    color:black;
}


.side-star {
    display: flex;
    align-items: center;
}

/* menu */

.list-menu-wrap ul {
    list-style: none;
    display:flex;
}

.list-menu-wrap ul li {
    padding-left:1rem;
}

.list-menu-wrap ul li a {
    text-decoration: none;
    color:white;
}

.list-menu-wrap ul li a:hover {
    color:#58B99D;
}

/* banner */

.banner {
    background-color: #58B99D;
    padding:1rem;
    text-align: center;
}

.banner img {
    width:20%;
    padding-bottom: 5%;
}


/* portfolio */

.portfolio {
    margin-top:2rem;
    margin-bottom: 2rem;
}

.portfolio h2 {
    text-align: center;
    color:black;
}

.img_port img {
    border-radius: 30px;
}

.img_port{
    padding:1em;
    position:relative;
    overflow: hidden;
}

/* overlay */

.overlay{
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.img_port:hover .overlay{
    display:inline-block;
}

/* about */

.about {
    background-color: #58B99D;
    padding:2rem 0 2rem;
}

.about h2 {
    text-align: center;
}


/* contact-me */

.contact-me {
    padding:2rem 0 2rem;
}

.contact-me h2 {
    color:black;
    text-align: center;
}

.contact-me input[type=text]{
    border:none;
    border-radius:0;
    border-bottom:1px solid black;   
}

.contact-me .message input[type=text]{
    padding-bottom:150px;
}

/* FOOTER */

footer {
    background-color: #3F536B;
}

footer h3 {
    font-size: 1.2em;
}

footer p {
    font-size:.8em;
}


.content-footer {
    text-align: center;
    color:white;
    padding:1rem;
}

.copyright {
    background-color: #303D4E;
}

.copyright-wrap {
    text-align: center;
    color:white;
    padding:1rem;
    font-size: .8em;
}

.green_text a {
    color:#58B99D;
    text-decoration:none;
}
/* mediaquery */

@media screen and (max-width: 375px) {
    .banner img {
        width:50%;
    }
}