header {
    height:80px;
    background-color:#303D4E;
    line-height: 80px;
    color:white;
}

img {
    width:100%;
}

/* menu */

.list-menu-wrap ul {
    list-style: none;
    display:flex;
}

.list-menu-wrap ul li {
    padding-left:1rem;
}

.list-menu-wrap ul li a {
    text-decoration: none;
    color:white;
}

/* banner */

.banner {
    background-color: #58B99D;
    padding:1rem;
}

/* portfolio */

.portfolio {
    margin-top:2rem;
}

.portfolio h2 {
    text-align: center;
}

.portfolio img {
    padding:1rem;
}

/* about */

.about{
    background-color: #58B99D;
    padding:2rem 0 2rem;
}

.about h2 {
    text-align: center;
}


/* contact-me */

.contact-me{
    padding:2rem 0 2rem;
}

/* FOOTER */

footer{
    background-color: #3F536B;
}

.content-footer{
    text-align: center;
    color:white;
    padding:1rem;
}

.copyright{
    background-color: #303D4E;
}

.copyright-wrap{
    text-align: center;
    color:white;
    padding:1rem;
}